*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Nunito", sans-serif;
  line-height: 1.6;
  color: #aaa;
}
@media only screen and (max-width: 75rem) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25rem) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 37.5rem) {
  html {
    font-size: 50%;
  }
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  display: grid;
  grid-template-rows: 80vh min-content min-content repeat(3, min-content);
  grid-template-columns: [side-start] 8rem [side-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}
@media only screen and (max-width: 56.25rem) {
  .container {
    grid-template-rows: 8rem calc(80vh - 8rem) min-content min-content min-content repeat(3, min-content);
    grid-template-columns: [side-start] minmax(2rem, 1fr) [side-end full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(2rem, 1fr) [full-end];
  }
}

.para {
  font-size: 1.8rem;
  font-weight: 400;
  color: #101d2c;
}

.para_small {
  font-size: 1.3rem;
  color: #6d5d4b;
  line-height: 1.5;
}

.heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.heading-4 {
  color: #101d2c;
  font-size: 2.1rem;
}

.heading-3 {
  color: #b28451;
  text-transform: uppercase;
  font-size: 1.8rem;
}

.heading-2 {
  font-size: 4rem;
  color: #6d5d4b;
  line-height: 1;
}

.italic {
  font-style: italic;
}

.btn {
  color: #f9f7f6;
  padding: 0.7rem 1rem;
  font-size: 1.5rem;
  background-color: #c69963;
  border-radius: none !important;
  font-style: inherit;
  text-transform: uppercase;
  transition: all 0.2s;
  border: none;
  outline: none;
}
.btn:hover {
  background-color: #b28451;
}

.sidebar {
  background-color: #b28451;
  grid-column: side-start/side-end;
  grid-row: 1/-1;
  padding: 4rem 0;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 56.25rem) {
  .sidebar {
    grid-row: 1/span 1;
    grid-column: 1/-1;
  }
}
@media only screen and (max-width: 56.25rem) {
  .sidebar {
    grid-row: 1/span 1;
    grid-column: 1/-1;
  }
}
.sidebar-btn {
  margin: 0 auto;
  width: 5rem;
  height: 2px;
  background-color: #fff;
  position: relative;
  border: none;
  border-radius: 0;
}
@media only screen and (max-width: 56.25rem) {
  .sidebar-btn {
    margin-right: 3rem;
    margin-left: auto;
  }
}
.sidebar-btn::after, .sidebar-btn::before {
  content: "";
  position: absolute;
  width: 5rem;
  height: 2px;
  display: block;
}
.sidebar-btn::before {
  background-color: #fff;
  transform: translateY(-1.5rem);
}
.sidebar-btn::after {
  background-color: #fff;
  transform: translateY(1.3rem);
}

.header {
  grid-column: full-start/col-end 6;
  background-image: linear-gradient(rgba(16, 29, 44, 0.9), rgba(16, 29, 44, 0.9)), url("../img/hero.jpeg");
  background-position: center;
  background-size: cover;
  object-fit: cover;
  display: grid;
  grid-template-rows: 25% 45% 30%;
  grid-template-columns: 5vw 1fr 5vw;
}
@media only screen and (max-width: 56.25rem) {
  .header {
    grid-column: side-start/full-end;
  }
}
.header .logo {
  grid-row: 1/span 1;
  grid-column: 2/span 1;
  height: 3rem;
  margin-top: 4rem;
  text-align: center;
}
.header .logo img {
  height: 100%;
}
.header .banner {
  grid-row: 2/span 1;
  grid-column: 2/span 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header .banner > * {
  margin-bottom: 2.5rem;
}
.header .banner .heading-2 {
  color: #fff;
  font-size: 4.5rem;
  line-height: 1;
}
.header .banner .btn {
  padding: 1.5rem 2rem;
}
.header .screen_on {
  grid-row: 3/span 1;
  grid-column: 2/span 1;
}
.header .screen_on .screen_text {
  font-size: 1.8rem;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  grid-gap: 3rem;
  margin-bottom: 1.5rem;
}
.header .screen_on .screen_text::after, .header .screen_on .screen_text::before {
  content: "";
  display: block;
  height: 2px;
  background-color: #c69963;
}
.header .screen_on .brands {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  justify-items: center;
  grid-gap: 2rem;
}
.header .screen_on .brands img {
  height: 2.5rem;
  filter: brightness(70%);
}
@media only screen and (max-width: 75rem) {
  .header .screen_on .brands img {
    height: 2.2rem;
  }
}
@media only screen and (max-width: 75rem) {
  .header .screen_on .brands img {
    height: 1.8rem;
  }
}

.relator {
  background-color: #101d2c;
  grid-column: col-end 6/full-end;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 56.25rem) {
  .relator {
    grid-row: 3/span 1;
    grid-column: 1/-1;
  }
}
@media only screen and (max-width: 56.25rem) {
  .relator .inner {
    padding: 3rem 0;
  }
}
.relator .inner .heading-3 {
  text-align: center;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 56.25rem) {
  .relator .inner {
    margin-bottom: 1.5rem;
  }
}
.relator .inner .relators > * {
  margin-bottom: 3rem;
}
@media only screen and (max-width: 56.25rem) {
  .relator .inner .relators {
    display: flex;
  }
  .relator .inner .relators > * {
    margin-right: 3rem;
  }
}
@media only screen and (max-width: 56.25rem) {
  .relator .inner .relators {
    flex-direction: column;
  }
}
.relator .inner .relators .relator {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 2rem;
}
.relator .inner .relators .relator .name {
  font-size: 2rem;
  color: #fff;
}
.relator .inner .relators .relator .name span {
  display: block;
  color: #aaa;
  font-size: 1.5rem;
}
.relator .inner .relators .relator img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.features {
  background-color: transparent;
  grid-column: center-start/center-end;
  padding: 15rem 0;
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: start;
}
@media only screen and (max-width: 56.25rem) {
  .features {
    grid-column: full-start/center-end;
  }
}
.features .feature {
  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-gap: 1rem;
}
.features .feature .icon-svg {
  width: 4.5rem;
  height: 4.5rem;
  fill: #c69963;
  grid-row: 1/span 2;
  transform: translateY(-1rem);
}

.testimonial {
  background-color: blue;
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #f9f7f6;
}
@media only screen and (max-width: 56.25rem) {
  .testimonial {
    grid-template-columns: 1fr;
  }
}
.testimonial_img {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url("/img/back.jpg");
  background-size: 100%;
  background-position: bottom;
  object-fit: cover;
  height: 40vw;
}
@media only screen and (max-width: 56.25rem) {
  .testimonial_img {
    height: 50vw;
  }
}
.testimonial_img .story_img_1 {
  width: 100%;
  grid-column: 2/span 4;
  grid-row: 2/span 4;
  height: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 56.25rem) {
  .testimonial_img .story_img_1 {
    grid-column: 2/span 3;
    grid-row: 2/span 4;
  }
}
.testimonial_img .story_img_2 {
  width: 115%;
  grid-column: 4/span 3;
  grid-row: 4/span 2;
  height: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 56.25rem) {
  .testimonial_img .story_img_2 {
    width: 100%;
    grid-column: 4/span 2;
    grid-row: 3/span 2;
  }
}
.testimonial_text {
  display: flex;
  padding: 8vw;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.testimonial_text > * {
  margin: 0.7rem 0;
}

.homes {
  padding: 10rem 0;
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 5rem;
}
@media only screen and (max-width: 56.25rem) {
  .homes {
    grid-column: full-start/center-end;
  }
}
.homes .home {
  display: grid;
  position: relative;
  font-size: 1.5rem;
}
.homes .home_btn {
  width: 100%;
  padding: 1.5rem;
}
.homes .home img {
  width: 100%;
}
.homes .home .house_name {
  width: 80%;
  margin: auto;
  text-align: center;
  transform: translateY(-50%);
  padding: 1rem 0;
  color: #f9f7f6;
  background-color: #101d2c;
}
.homes .home .like-svg {
  width: 3rem;
  height: 3rem;
  fill: #b28451;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.homes .home .house_info {
  color: #b28451;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  padding: 1rem;
  margin-bottom: 2rem;
}
.homes .home .house_info svg {
  width: 2rem;
  height: 2rem;
  fill: #b28451;
}
.homes .home .house_info > div {
  display: flex;
}
.homes .home .house_info > div svg {
  margin-right: 1rem;
}
.homes .home .house_info > div p {
  color: #101d2c;
}

.gallery {
  background-color: #f9f7f6;
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  padding: 1.5rem;
  grid-gap: 1.5rem;
}
@media only screen and (max-width: 56.25rem) {
  .gallery {
    grid-column: full-start/center-end;
  }
}
.gallery-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-img-1 {
  grid-column: 1/span 2;
  grid-row: 1/span 2;
}
.gallery-img-2 {
  grid-column: 3/span 3;
  grid-row: 1/span 3;
}
.gallery-img-3 {
  grid-column: 6/span 1;
  grid-row: 1/span 2;
}
.gallery-img-4 {
  grid-column: 7/-1;
  grid-row: 1/span 2;
}
.gallery-img-5 {
  grid-column: 1/span 2;
  grid-row: 3/span 3;
}
.gallery-img-6 {
  grid-column: 3/span 2;
  grid-row: 4/span 2;
}
.gallery-img-7 {
  grid-column: 5/span 1;
  grid-row: 4/span 1;
}
.gallery-img-8 {
  grid-column: 6/span 2;
  grid-row: 3/span 2;
}
.gallery-img-9 {
  grid-column: 8/-1;
  grid-row: 3/span 3;
}
.gallery-img-10 {
  grid-column: 1/span 1;
  grid-row: 6/-1;
}
.gallery-img-11 {
  grid-column: 2/span 2;
  grid-row: 6/-1;
}
.gallery-img-12 {
  grid-column: 4/span 1;
  grid-row: 6/-1;
}
.gallery-img-13 {
  grid-column: 5/span 3;
  grid-row: 5/-1;
}
.gallery-img-14 {
  grid-column: 8/-1;
  grid-row: 6/-1;
}

.footer {
  background-color: #101d2c;
  grid-column: full-start/full-end;
  padding: 8rem;
}
.footer .nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  align-items: center;
  grid-gap: 2rem;
}
.footer .nav .footer_link {
  text-align: center;
  padding: 0.5rem;
  transition: all 0.2s;
}
.footer .nav .footer_link a {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 300;
  text-transform: uppercase;
}
.footer .nav .footer_link:hover, .footer .nav .footer_link:focus {
  background-color: rgba(255, 255, 255, 0.05);
  transform: translateY(-2px);
}
.footer .copy-right {
  margin-top: 5rem;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}
.footer .copy-right .para {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
