// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	font-family: $font-primary;
	line-height: 1.6;
	color: $color-grey-light-2;
}
a {
	text-decoration: none;
}
li {
	list-style-type: none;
}
.container > * {
	font-size: 3rem;
}
.container {
	display: grid;
	grid-template-rows: 80vh repeat(5, min-content);
	grid-template-columns:
		[side-start]8rem [side-end full-start] minmax(
			6rem,
			1fr
		) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
		[center-end] minmax(6rem, 1fr) [full-end];
}
