.header {
	grid-column: full-start/col-end 6;
	background-image: linear-gradient(
			rgba($color-secondary, 0.9),
			rgba($color-secondary, 0.9)
		),
		url('../img/hero.jpeg');
	background-position: center;
	background-size: cover;
	object-fit: cover;
	// display: flex;
	// flex-direction: column;
	display: grid;
	grid-template-rows: 30% 40% 30%;
	grid-template-columns: 5vw 1fr 5vw;
	.logo {
		grid-row: 1 / span 1;
		grid-column: 2 / span 1;
		height: 3rem;
		margin-top: 4rem;
		// padding-top: 2rem;
		text-align: center;
		img {
			height: 100%;
		}
	}
	.banner {
		grid-row: 2 / span 1;
		grid-column: 2 / span 1;
		display: flex;
		flex-direction: column;
		// justify-items: flex-start;
		align-items: flex-start;
		& > * {
			margin-bottom: 1.5rem;
		}
		.heading-2 {
			color: #fff;
			font-size: 4.5rem;
		}
		.btn {
			padding: 1.5rem 2rem;
		}
	}
	.screen_on {
		grid-row: 3 / span 1;
		grid-column: 2 / span 1;
		.screen_text {
			font-size: 1.8rem;
			display: grid;
			grid-template-columns: 1fr max-content 1fr;
			align-items: center;
			grid-gap: 3rem;
			margin-bottom: 1.5rem;
			&::after,
			&::before {
				content: '';
				display: block;
				height: 2px;
				background-color: $color-primary;
			}
		}

		.brands {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
			justify-items: center;
			grid-gap: 2rem;
			img {
				// width: 7rem;
				height: 2.5rem;
				filter: brightness(70%);
			}
		}
	}
}
