.relator {
	background-color: $color-secondary;
	grid-column: col-end 6 / full-end;
	display: flex;
	align-items: center;
	justify-content: center;

	@media only screen and (max-width: $table-port) {
		grid-row: 3 / span 1;
		grid-column: 1 / -1;
	}
	.inner {
		@media only screen and (max-width: $table-port) {
			padding: 3rem 0;
		}

		.heading-3 {
			text-align: center;
			margin-bottom: 3rem;
		}
		@media only screen and (max-width: $table-port) {
			margin-bottom: 1.5rem;
		}
		.relators {
			& > * {
				margin-bottom: 3rem;
			}
			@media only screen and (max-width: $table-port) {
				display: flex;
				& > * {
					margin-right: 3rem;
				}
			}
			@media only screen and (max-width: $table-port) {
				flex-direction: column;
			}
			.relator {
				display: grid;
				grid-template-columns: min-content 1fr;
				grid-gap: 2rem;
				.name {
					font-size: 2rem;
					color: #fff;
					span {
						display: block;
						color: $color-grey-light-2;
						font-size: 1.5rem;
					}
				}
				img {
					width: 5rem;
					height: 5rem;
					border-radius: 50%;
				}
			}
		}
	}
}
